<h1><%= @cat.name %></h1>

<table border=1>
  <tr><th>Birth Date</th><td><%= @cat.birth_date %></td></tr>
  <tr><th>Age</th><td><%= @cat.age %></td></tr>
  <tr><th>Color</th><td><%= @cat.color %></td></tr>
  <tr><th>Sex</th><td><%= @cat.sex %></td></tr>
</table>
<br>

<table border=1>
  <tr>
    <th colspan=2>Requests<th>
  </tr>
  <tr>
    <th>Start Date</th><th>End Date</th>
  </tr>
  <% @cat_rental_requests.each do |request| %>
  <tr>
    <td><%= request.start_date %></td>
    <td><%= request.end_date %></td>
  </tr>
  <% end %>
</table>

<a href="<%= edit_cat_url(@cat.id) %>">Edit Cat</a>
