<!DOCTYPE html>
<html>
<head>
  <title>99 Cats - Rent a Cat Today</title>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <a href="<%= cats_url %>">Home</a>
  <% if signed_in? %>
    <span>Hello, <%= current_user.user_name %></span>
    <a href="<%= user_url(current_user.id) %>">My Profile</a>
    <a href="<%= new_cat_rental_request_url %>">Rent a Cat</a>
    <a href="<%= new_cat_url %>">Add Cat</a>
    <form action='<%= session_url %>' method='post'>
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"><br/>
      <button>Sign Out</button>  
    </form>
    
  <% else %>
    <a href="<%= new_session_url %>">Sign In</a>
    <a href="<%= new_user_url %>">Register</a>
  <% end %>
</nav>

<% if flash.now %>
  <p><b><i><%= flash.now[:error] %></i></b></p>
<% end %>

<% if flash[:errors] %>
<h3>Please fix the following errors:</h3>
<ul>
  <% flash[:errors].each do |error| %>
  <li><%= error %></li>
  <% end %>
</ul>
<% end %>

<%= yield %>

</body>
</html>
